
// Header & It's Background Image
header {
      width: 100%;
      background: url('../img/dark-pattern.png');
      background-position: 30px;
      background-size: cover;
      background-repeat: no-repeat;
      overflow: hidden;
}

// Full Screen Navbar 
header nav {

      .navigation, .mobile_navigation {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1.6rem 0;

            .logo_container {
                  h3 {
                        font-size: 1.6rem;
                        transition: ease 0.4s;
                        cursor: pointer;

                        &:hover {
                              color: $accent-color;
                        }
                  }
            }

            .nav_links {
                  margin-top: 5px;
                  
                  a {
                        margin: 0 2rem;
                        color: $secondary-color;
                        text-decoration: none;
                        transition: ease 0.4s;
                        position: relative;
                        display: inline-block;
                        overflow: hidden;
                        
                        &:hover {
                              color: $accent-color;
                        }
                  }

                  a::after {
                        content: '';
                        position: absolute;
                        top: 95%;
                        left: 0%;
                        transform: translateX(-110%);
                        width: 70%;
                        height: 2px;
                        background-color: $accent-color;
                        transition: ease 0.4s;
                  }

                  a:hover::after {
                        transform: translateX(0%);
                  }

                  @media (max-width:850px) {
                        a {
                              margin: 0 1rem;
                        }
                  }

                  @media (max-width:700px) {
                        a {
                              margin: 0 10px;
                        }
                  }
            }

            .nav_btn {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  color: #fafafa;
                  text-decoration: none;
            
                  span {
                        font-weight: 500;
                  }
            
                  img {
                        width: 30px;
                        height: 30px;
                        margin-left: 6px;
                        margin-top: 5px;
                        transition: ease 0.4s;
                  }

                  span {
                        margin-left: 6px;
                        margin-top: 5px;
                        transition: ease 0.4s;
                  }
                  
                  &:hover {
                        color: $accent-color;
                  }
            
                  &:hover span{
                        transform: translateX(3px) scale(1.12);
                        color: $accent-color;
                  }
            }
      }

      .mobile_navigation {
            display: none;
      }
}


// Mobile Navbar
header nav {
      @media (max-width: 625px) {
            .navigation {
                  display: none;
            }

            .open {
                  height: fit-content !important;
                  border: 1px solid rgba(145, 145, 145, 0.2);
            }

            .mobile_navigation {
                  display: flex;
                  position: relative;

                  #menu {
                        font-size: 2rem;
                  }

                  .mobile_nav_links {
                        position: absolute;
                        height: 0;
                        top: 100%;
                        left: 0;
                        right: 0;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        background-color: $primary-color;
                        border-radius: 10px;
                        z-index: 1000;

                        a {
                              margin: 1rem 0;
                              color: $secondary-color;
                              text-decoration: none;
                              transition: ease 0.4s;
                              position: relative;
                              text-align: center;
                              font-size: 1.1rem;
                              overflow: hidden;
                              
                              &:hover {
                                    color: $accent-color;
                              }
                        }
      
                        a::after {
                              content: '';
                              position: absolute;
                              top: 95%;
                              left: 0%;
                              transform: translateX(-110%);
                              width: 70%;
                              height: 2px;
                              background-color: $accent-color;
                              transition: ease 0.4s;
                        }

                        a:last-child {
                              &::after {
                                    display: none;
                              }
                        }
      
                        a:hover::after {
                              transform: translateX(0%);
                        }
                  }
            }
      }
}


// Hero Background Section
header .hero_bg {

      .hero_bg_container {
            width: 100%;
            height: 100%;
            min-height: 90vh;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .text_container {
                  width: 50%;
                  .primary_btn {
                        margin-top: 1.6rem;
                  }
            }

            .img_container {
                  margin-left: 2rem;
                  position: relative;

                  img {
                        width: 100%;
                        animation: cardAnimation linear 4s infinite alternate;
                  }

                  .circle_bg {
                        position: absolute;
                        top: 50%;
                        right: -30%;
                        width: 550px;
                        height: 550px;
                        background-color: $accent-color;
                        border-radius: 50%;
                        z-index: -1;
                        transform: translateY(-50%);
                  }
            }

            @media (max-width:1000px) {
                  .text_container {
                        width: 70%;
                  }

                  .img_container {
                        .circle_bg {
                              width: 450px;
                              height: 450px;
                        }
                  }
            }

            @media (max-width:900px) {
                  .text_container {
                        width: 90%;
                  }

                  .img_container {
                        .circle_bg {
                              width: 400px;
                              height: 400px;
                        }
                  }
            }

            @media (max-width:700px) {
                  flex-direction: column;
                  padding: 6rem 0;

                  .text_container {
                        width: 100%;
                  }

                  .img_container {
                        margin-top: 40%;
                        margin-left: 0 !important;

                        img {
                              width: 110% !important;
                        }

                        .circle_bg {
                              width: 450px;
                              height: 450px;
                        }
                  }
            }

            @media (max-width:500px) {
                  .circle_bg {
                        width: 350px !important;
                        height: 350px !important;
                  }
            }
      }
}

@keyframes cardAnimation {
      from {
            transform: translateY(-15px);
      }
      to {
            transform: translateY(15px);
      }
}


// Brands Section
.brands_section {
      padding: 5rem 0;
      background-color: $accent-color;

      .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;

            .brand_logo:not(:last-child), .brand_logo:not(:first-child) {
                  margin: 0 1rem;
            }

            @media (max-width:600px) {
                  flex-direction: column;

                  .brand_logo {
                        margin: 2rem 0 !important;

                        img {
                              transform: scale(1.2);
                        }
                  }
            }
      }
}


// Services Section 
.services_section {
      .column_up {
            display: flex;
            justify-content: space-between;

            .text_container {
                  .h2 {
                        width: 100%;
                        max-width: 400px;
                  }
            }
      }

      .card_container {
            display: flex;
            justify-content: right;

            .card {
                  width: 100%;
                  max-width: 320px;
                  border: 1px solid rgba(192, 192, 192, 0.2);
                  padding: 2.6rem 2.4rem;
                  transition: ease 0.4s;

                  display: flex;
                  justify-content: space-between;
                  flex-direction: column;
                  
                  .line {
                        width: 70px;
                        height: 3px;
                        background-color: #fff;
                  }

                  h3 {
                        margin: 1.6rem 0;
                        font-size: 1.6rem;
                  }


                  .arrow_btn {
                        width: 50px;
                        height: 50px;
                        background-color: #fff;
                        padding: 1rem;
                        display: grid;
                        place-content: center;
                        text-decoration: none;
                        margin-top: 5rem;
                        place-self: self-end;
                        transition: ease 0.4s;

                        &:hover {
                              background-color: $accent-color;
                        }

                        &:hover span{
                              transform: rotate(-45deg) scale(1.2);
                        }

                        span {
                              font-size: 1.8rem;
                              transition: inherit;
                              color: $primary-color;
                        }
                  }

                  &:hover {
                        background-color: rgba(233, 233, 233, 0.1);
                  }
            }
      }

      @media (max-width:1024px) and (min-width:900px) {
            .card {
                  padding: 2.6rem 1.2rem !important;
            }
      }

      @media (max-width:900px) {
            .column_up {
                  flex-direction: column;

                  .text_container {
                        margin-bottom: 2rem;
                  }
            }

            .card_container {
                  display: grid;
                  grid-template-columns: repeat(3, 1fr);
                  justify-content: center;
            }
      }

      @media (max-width:800px) {
            .card_container {
                  grid-template-columns: repeat(2, 1fr);
                  place-items: center;

                  .card {
                        width: 100% !important;
                        margin: 1rem 0;
                  }
            }
      }

      @media (max-width:650px) {
            .card_container {
                  grid-template-columns: repeat(1, 1fr);
                  place-items: center;

                  .card {
                        width: 100% !important;
                        margin: 1rem 0;
                  }
            }
      }
}


// Benefits Section
.benefits_section {
      .container {
            display: flex;
            justify-content: space-between;
            align-items: center;


            .text_container {
                  width: 35%;
            }

            .img_container {
                  width: 50%;
                  img {
                        width: 100%;
                  }
            }

            .counter_container {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  margin-top: 3rem;
                  width: 100%;
                  max-width: 500px;

                  .items {
                        text-align: center;

                        .count {
                              font-size: 2rem;

                              span {
                                    color: $accent-color;
                              }
                        }

                        .count_text {
                              color: $accent-color;
                              font-size: 0.95rem;
                              font-weight: 600;
                        }
                  }
            }

            @media (max-width:830px) {
                  flex-direction: column;

                  .text_container {
                        width: 100% !important;
                  }

                  .img_container {
                        width: 100% !important;
                        margin-top: 4rem;
                  }
            }
      }
}