@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
$rubik: 'Rubik', sans-serif;

$screen: 1440px;

// Colors Scheme
$primary-color: #151515;
$secondary-color: rgba(#FFFFFF, 0.7);
$accent-color: #CBFC01;