@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Satoshi", sans-serif;
}

body {
  background-color: #151515;
  color: #fafafa;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
@media (max-width: 1440px) {
  .container {
    padding: 0 1rem;
  }
}

.primary_text {
  font-size: clamp(0.9rem, 2vw, 1.1rem);
  color: #CBFC01;
  font-weight: 600;
}

.h1, .h2 {
  font-size: clamp(2.4rem, 5vw, 4.5rem);
  margin: 1.4rem 0;
}
.h1 span, .h2 span {
  color: #CBFC01;
}

.h2 {
  font-size: clamp(2.2rem, 2vw, 2.6rem) !important;
}

.text {
  color: rgba(255, 255, 255, 0.7);
  line-height: 25px;
}

.primary_btn {
  text-decoration: none;
  padding: 0.8rem 2.4rem;
  background-color: #CBFC01;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  transition: ease 0.4s;
  border: 2px solid #CBFC01;
}
.primary_btn h4 {
  font-weight: 600;
  color: #151515;
}
.primary_btn span {
  margin-left: 6px;
  margin-top: 1px;
  transition: ease 0.4s;
}
.primary_btn:hover {
  background-color: #151515;
}
.primary_btn:hover h4, .primary_btn:hover span {
  color: #CBFC01;
}
.primary_btn:hover span {
  transform: translateX(5px) scale(1.12);
}

section {
  padding: 6rem 0;
}

.nav_btn {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  color: #fafafa;
  text-decoration: none;
}
.nav_btn span {
  font-weight: 500;
}
.nav_btn h4 {
  display: inline;
}
.nav_btn img {
  width: 30px;
  height: 30px;
  margin-left: 6px;
  margin-top: 5px;
  transition: ease 0.4s;
}
.nav_btn span {
  margin-left: 6px;
  margin-top: 5px;
  transition: ease 0.4s;
}
.nav_btn:hover {
  color: #CBFC01;
}
.nav_btn:hover span {
  transform: translateX(3px) scale(1.12);
  color: #CBFC01;
}

header {
  width: 100%;
  background: url("../img/dark-pattern.png");
  background-position: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

header nav .navigation, header nav .mobile_navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 0;
}
header nav .navigation .logo_container h3, header nav .mobile_navigation .logo_container h3 {
  font-size: 1.6rem;
  transition: ease 0.4s;
  cursor: pointer;
}
header nav .navigation .logo_container h3:hover, header nav .mobile_navigation .logo_container h3:hover {
  color: #CBFC01;
}
header nav .navigation .nav_links, header nav .mobile_navigation .nav_links {
  margin-top: 5px;
}
header nav .navigation .nav_links a, header nav .mobile_navigation .nav_links a {
  margin: 0 2rem;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  transition: ease 0.4s;
  position: relative;
  display: inline-block;
  overflow: hidden;
}
header nav .navigation .nav_links a:hover, header nav .mobile_navigation .nav_links a:hover {
  color: #CBFC01;
}
header nav .navigation .nav_links a::after, header nav .mobile_navigation .nav_links a::after {
  content: "";
  position: absolute;
  top: 95%;
  left: 0%;
  transform: translateX(-110%);
  width: 70%;
  height: 2px;
  background-color: #CBFC01;
  transition: ease 0.4s;
}
header nav .navigation .nav_links a:hover::after, header nav .mobile_navigation .nav_links a:hover::after {
  transform: translateX(0%);
}
@media (max-width: 850px) {
  header nav .navigation .nav_links a, header nav .mobile_navigation .nav_links a {
    margin: 0 1rem;
  }
}
@media (max-width: 700px) {
  header nav .navigation .nav_links a, header nav .mobile_navigation .nav_links a {
    margin: 0 10px;
  }
}
header nav .mobile_navigation {
  display: none;
}

@media (max-width: 625px) {
  header nav .navigation {
    display: none;
  }
  header nav .open {
    height: -moz-fit-content !important;
    height: fit-content !important;
    border: 1px solid rgba(145, 145, 145, 0.2);
  }
  header nav .mobile_navigation {
    display: flex;
    position: relative;
  }
  header nav .mobile_navigation #menu {
    font-size: 2rem;
  }
  header nav .mobile_navigation .mobile_nav_links {
    position: absolute;
    height: 0;
    top: 100%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #151515;
    border-radius: 10px;
    z-index: 1000;
  }
  header nav .mobile_navigation .mobile_nav_links a {
    margin: 1rem 0;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    transition: ease 0.4s;
    position: relative;
    text-align: center;
    font-size: 1.1rem;
    overflow: hidden;
  }
  header nav .mobile_navigation .mobile_nav_links a:hover {
    color: #CBFC01;
  }
  header nav .mobile_navigation .mobile_nav_links a::after {
    content: "";
    position: absolute;
    top: 95%;
    left: 0%;
    transform: translateX(-110%);
    width: 70%;
    height: 2px;
    background-color: #CBFC01;
    transition: ease 0.4s;
  }
  header nav .mobile_navigation .mobile_nav_links a:last-child::after {
    display: none;
  }
  header nav .mobile_navigation .mobile_nav_links a:hover::after {
    transform: translateX(0%);
  }
}

header .hero_bg .hero_bg_container {
  width: 100%;
  height: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .hero_bg .hero_bg_container .text_container {
  width: 50%;
}
header .hero_bg .hero_bg_container .text_container .primary_btn {
  margin-top: 1.6rem;
}
header .hero_bg .hero_bg_container .img_container {
  margin-left: 2rem;
  position: relative;
}
header .hero_bg .hero_bg_container .img_container img {
  width: 100%;
  animation: cardAnimation linear 4s infinite alternate;
}
header .hero_bg .hero_bg_container .img_container .circle_bg {
  position: absolute;
  top: 50%;
  right: -30%;
  width: 550px;
  height: 550px;
  background-color: #CBFC01;
  border-radius: 50%;
  z-index: -1;
  transform: translateY(-50%);
}
@media (max-width: 1000px) {
  header .hero_bg .hero_bg_container .text_container {
    width: 70%;
  }
  header .hero_bg .hero_bg_container .img_container .circle_bg {
    width: 450px;
    height: 450px;
  }
}
@media (max-width: 900px) {
  header .hero_bg .hero_bg_container .text_container {
    width: 90%;
  }
  header .hero_bg .hero_bg_container .img_container .circle_bg {
    width: 400px;
    height: 400px;
  }
}
@media (max-width: 700px) {
  header .hero_bg .hero_bg_container {
    flex-direction: column;
    padding: 6rem 0;
  }
  header .hero_bg .hero_bg_container .text_container {
    width: 100%;
  }
  header .hero_bg .hero_bg_container .img_container {
    margin-top: 40%;
    margin-left: 0 !important;
  }
  header .hero_bg .hero_bg_container .img_container img {
    width: 110% !important;
  }
  header .hero_bg .hero_bg_container .img_container .circle_bg {
    width: 450px;
    height: 450px;
  }
}
@media (max-width: 500px) {
  header .hero_bg .hero_bg_container .circle_bg {
    width: 350px !important;
    height: 350px !important;
  }
}

@keyframes cardAnimation {
  from {
    transform: translateY(-15px);
  }
  to {
    transform: translateY(15px);
  }
}
.brands_section {
  padding: 5rem 0;
  background-color: #CBFC01;
}
.brands_section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.brands_section .container .brand_logo:not(:last-child), .brands_section .container .brand_logo:not(:first-child) {
  margin: 0 1rem;
}
@media (max-width: 600px) {
  .brands_section .container {
    flex-direction: column;
  }
  .brands_section .container .brand_logo {
    margin: 2rem 0 !important;
  }
  .brands_section .container .brand_logo img {
    transform: scale(1.2);
  }
}

.services_section .column_up {
  display: flex;
  justify-content: space-between;
}
.services_section .column_up .text_container .h2 {
  width: 100%;
  max-width: 400px;
}
.services_section .card_container {
  display: flex;
  justify-content: right;
}
.services_section .card_container .card {
  width: 100%;
  max-width: 320px;
  border: 1px solid rgba(192, 192, 192, 0.2);
  padding: 2.6rem 2.4rem;
  transition: ease 0.4s;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.services_section .card_container .card .line {
  width: 70px;
  height: 3px;
  background-color: #fff;
}
.services_section .card_container .card h3 {
  margin: 1.6rem 0;
  font-size: 1.6rem;
}
.services_section .card_container .card .arrow_btn {
  width: 50px;
  height: 50px;
  background-color: #fff;
  padding: 1rem;
  display: grid;
  place-content: center;
  text-decoration: none;
  margin-top: 5rem;
  place-self: self-end;
  transition: ease 0.4s;
}
.services_section .card_container .card .arrow_btn:hover {
  background-color: #CBFC01;
}
.services_section .card_container .card .arrow_btn:hover span {
  transform: rotate(-45deg) scale(1.2);
}
.services_section .card_container .card .arrow_btn span {
  font-size: 1.8rem;
  transition: inherit;
  color: #151515;
}
.services_section .card_container .card:hover {
  background-color: rgba(233, 233, 233, 0.1);
}
@media (max-width: 1024px) and (min-width: 900px) {
  .services_section .card {
    padding: 2.6rem 1.2rem !important;
  }
}
@media (max-width: 900px) {
  .services_section .column_up {
    flex-direction: column;
  }
  .services_section .column_up .text_container {
    margin-bottom: 2rem;
  }
  .services_section .card_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }
}
@media (max-width: 800px) {
  .services_section .card_container {
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
  .services_section .card_container .card {
    width: 100% !important;
    margin: 1rem 0;
  }
}
@media (max-width: 650px) {
  .services_section .card_container {
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }
  .services_section .card_container .card {
    width: 100% !important;
    margin: 1rem 0;
  }
}

.benefits_section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.benefits_section .container .text_container {
  width: 35%;
}
.benefits_section .container .img_container {
  width: 45%;
}
.benefits_section .container .img_container img {
  width: 100%;
}
.benefits_section .container .counter_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  width: 100%;
  max-width: 500px;
}
.benefits_section .container .counter_container .items {
  text-align: center;
}
.benefits_section .container .counter_container .items .count {
  font-size: 2rem;
}
.benefits_section .container .counter_container .items .count span {
  color: #CBFC01;
}
.benefits_section .container .counter_container .items .count_text {
  color: #CBFC01;
  font-size: 0.95rem;
  font-weight: 600;
}
@media (max-width: 830px) {
  .benefits_section .container {
    flex-direction: column;
  }
  .benefits_section .container .text_container {
    width: 100% !important;
  }
  .benefits_section .container .img_container {
    width: 100% !important;
    margin-top: 4rem;
  }
}

.service2_section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service2_section .container .text_container {
  width: 40%;
}
.service2_section .container .text_container .primary_btn {
  margin-top: 2rem;
}
.service2_section .container .img_container {
  width: 45%;
}
.service2_section .container .img_container img {
  width: 100%;
}
@media (max-width: 800px) {
  .service2_section .container .text_container {
    width: 50% !important;
  }
  .service2_section .container .img_container {
    width: 45% !important;
  }
}
@media (max-width: 700px) {
  .service2_section .container {
    flex-direction: column;
    justify-content: center;
  }
  .service2_section .container .text_container {
    width: 100% !important;
  }
  .service2_section .container .img_container {
    margin-top: 4rem;
    width: 100% !important;
  }
}

.features_section .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.features_section .container .items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding: 3rem 2.6rem;
  transition: ease 0.4s;
  border: 1px solid rgba(192, 192, 192, 0.1);
}
.features_section .container .items .nav_btn {
  margin-top: 2rem;
}
.features_section .container .items .icon_container {
  width: 50px;
  height: 50px;
  background-color: #fff;
  padding: 1rem;
  display: grid;
  place-content: center;
  text-decoration: none;
  transition: ease 0.4s;
}
.features_section .container .items .icon_container span {
  font-size: 1.8rem;
  transition: inherit;
  color: #151515;
}
.features_section .container .items:hover .icon_container {
  background-color: #CBFC01;
}
.features_section .container .items:hover {
  background-color: rgba(233, 233, 233, 0.1);
}
@media (max-width: 1100px) and (min-width: 900px) {
  .features_section .container .items {
    padding: 3rem 1.6rem !important;
  }
}
@media (max-width: 900px) {
  .features_section .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 650px) {
  .features_section .container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.testimonial_section {
  background-color: #CBFC01;
  background-image: url("../img/pattern.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  min-height: 90vh;
}
.testimonial_section .container .text_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
@media (max-width: 640px) {
  .testimonial_section .container .text_container {
    flex-direction: column;
  }
  .testimonial_section .container .text_container .text_content {
    margin-bottom: 2rem;
  }
}
.testimonial_section .container .text_container .text_content {
  width: 100%;
  max-width: 600px;
}
.testimonial_section .container .text_container .text_content .h1 {
  margin-bottom: 0 !important;
}
.testimonial_section .container .text_container .text_content * {
  color: #151515 !important;
}
.testimonial_section .container .text_container .arrows_content {
  display: flex;
  align-items: center;
}
.testimonial_section .container .text_container .arrows_content .swiper-button-next::after, .testimonial_section .container .text_container .arrows_content .swiper-button-prev::after {
  content: "";
  display: none !important;
}
.testimonial_section .container .text_container .arrows_content .icon_container {
  all: unset !important;
  width: 50px !important;
  height: 50px !important;
  border: 2px solid #151515 !important;
  border-radius: 50% !important;
  display: grid !important;
  place-items: center !important;
  margin-left: 1rem !important;
  cursor: pointer !important;
  transition: ease 0.4s !important;
  color: #151515 !important;
}
.testimonial_section .container .text_container .arrows_content .icon_container:hover {
  background-color: #151515 !important;
  color: #fff !important;
}
.testimonial_section .container .text_container .arrows_content .icon_container span {
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
          user-select: none !important;
  font-size: 1.8rem;
  color: inherit !important;
}
.testimonial_section .mySwiper {
  margin-top: 3rem;
}
@media (max-width: 640px) {
  .testimonial_section .mySwiper {
    padding: 0 1rem;
  }
}
.testimonial_section .mySwiper .swiper-slide {
  background-color: #151515;
  padding: 3rem 2.6rem;
}
.testimonial_section .mySwiper .swiper-slide .text {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  color: #fff;
}
.testimonial_section .mySwiper .swiper-slide .profile_container {
  display: flex;
  align-items: center;
}
.testimonial_section .mySwiper .swiper-slide .profile_container h3 {
  font-size: 1rem;
}
.testimonial_section .mySwiper .swiper-slide .profile_container .text {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.7);
}
.testimonial_section .mySwiper .swiper-slide .profile_container .img_container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1rem;
}
.testimonial_section .mySwiper .swiper-slide .profile_container .img_container img {
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner_section .container {
  display: flex;
  justify-content: center;
}
.banner_section .container .banner {
  width: 100%;
  max-width: 1200px;
  background-color: #CBFC01;
  padding: 3rem;
}
.banner_section .container .banner h1 {
  color: #151515;
  width: 100%;
  max-width: 1000px;
  text-align: center;
  margin: 0 auto;
}
.banner_section .container .banner .primary_btn {
  border-color: #151515 !important;
  background-color: #151515 !important;
  margin: 0 auto;
  margin-top: 2rem;
}
.banner_section .container .banner .primary_btn h4 {
  color: #CBFC01 !important;
}
.banner_section .container .banner .primary_btn:hover {
  background-color: #CBFC01 !important;
}
.banner_section .container .banner .primary_btn:hover h4 {
  color: #151515 !important;
}/*# sourceMappingURL=style.css.map */